<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">
    <p id="notice"><% if flash[:notice] %></p>
    <div class="alert alert-info" role="alert">
    <%= flash[:notice]%></div>
    <% end %>

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>

      <div class="product">
        <% if current_user %>
        <%= render 'forms' %>
        <% end %>
      </div>


        <div>
            <table>
              <tr>
                <th>User ratings</th>
                <th>User reviews/comments on this product</th>
              </tr>
                <% @product.reviews.each do |review| %>
              <tr><td class="rating"><%= review.rating %></td>
                <td class="description"><%= review.description %></td>
                  <% if current_user %>
                    <% if review.user_id == current_user.id %>
                      <td class="deleteButton"><%= link_to 'delete review', product_review_path(@product, review), method: :delete %></td>
                    <% end %>
                  <% end %>
                <% end %>
              </tr>
            </table>
            </dl>
          </div>
        </div>

      </div>
      </div>

    </div>

  </article>

</section>
